@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
:root{
    /* backgound color */
    --background-zinc-10 : #fafafa;
    --background-zinc-20: #f4f4f5;
    --background-zinc-30: #e4e4e7;
    --background-zinc-40: #a8a29e;
    --background-zinc-50: #d4d4d4;


    --background-blue-70: #3b82f6;
    --background-blue-80: #2563eb;
    --background-blue-90: #1d4ed8;
    --background-blue-dark: #1e3a8a;
    

    /* text color */
    --text-color-100 : #0c0a09;
    --text-color-95 : #1c1917;
    --text-color-80 : #292524;
    --text-color-70 : #78716c;
    --text-color-60 : #f5f5f4;
    
    /* font size */
    --font-size-11 : 11px;
    --font-size-12 : 12px;
    --font-size-13 : 13px;
    --font-size-14 : 14px;
    --font-size-16 : 16px;
    --font-size-18 : 18px;
    --font-size-21 : 21px;
    --font-size-24 : 24px;
    --font-size-32 : 32px;
    --font-size-48 : 48px;
}

/* scroll bar */

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background: var(--text-color-80);
}
::-webkit-scrollbar-thumb{
    background: var(--background-zinc-40);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: unset;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}

svg{
    width: var(--font-size-14);
}

html{
    font-family: 'PT Sans Caption', Arial, sans-serif;
}

body{
    min-height: 100vh;

}

header{
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-14);
}

header span{
    cursor: pointer;
}

.phone-block{
    flex-basis: 30%;
}

.phone-block div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.phone-block div span svg{
    display: flex;
    align-items: center;
    justify-content: center;
}


.phone-number{
    font-weight: 800;
    font-size: var(--font-size-16);
}

.links-block{
    flex-basis: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.links div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.links div span svg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--font-size-18);
}

.links div .link-title:hover,
.links div .link-icon:hover
{
    color: var(--background-blue-80);
}

.blue-sky{
    color: var(--background-blue-70);
}

.blue-sky:hover{
    color: unset;
}

.gray-skin{
    color: var(--background-zinc-40);
}

.number-items-counter{
    background: var(--background-zinc-40);
    display: block;
    width: 25px;
    height: 25px;
    padding: 2px;
    border-radius: 50px;
    color: var(--background-zinc-20);
    display: flex;
    align-items: center;
    justify-content: center;
}


nav{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .logo-block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: var(--font-size-14);
}

.logo{
    display: inline;
}

.logo-description{
    display: flex;
    flex-direction: column;
}


.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.nav-links a{
    position: relative;
    font-weight: 700;
    padding: 45px 0;
}

.nav-links a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition: all .3s ease;
}

.nav-links a:hover::after{
    width: 100%;
    background: var(--background-blue-90);
}

.nav-links a:hover{
    color: var(--background-blue-90);
}

.logo img{
    width: 200px;
    object-fit: cover;
}

.hero{
    background: var(--background-zinc-10);
    padding: 40px 0;
}

.hero-image{
    background-image: url('/images/hero1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1440px;
    height: 60vh;
    margin: 0 auto;
}

.hero-caption{
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 15px 0;
    font-size: var(--font-size-12);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-caption div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-caption div .image-caption{
    background: var(--background-zinc-20);
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.cards{
    padding: 30px 0;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.container .cards-header{
    display: flex;
    align-items: center;
    gap: 35px;
}

.container .cards-header a{
    font-size: var(--font-size-18);
    padding: 20px 0;
    position: relative;
}

.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--background-blue-80);
}

.cards-grid{
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 350px);
}

.card{
    position: relative;
    padding: 20px;
    transition: all .3s ease;
    cursor: pointer;
    z-index: 1;
    background: #ffff;
}

.card:hover{
    box-shadow: -1px 3px 31px -11px rgba(15,1,15.2);
    z-index: 100;
    height: 500px;
}

.card:hover .card-footer{
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card:hover .card-title{
    color: var(--background-blue-70);
}



.card .card-image{
    padding: 0 20px;
    position: relative;
}
.card .card-image img{
    width: 100%;
    object-fit: cover;

}

.card:hover .card-image::after{
    content: "Быстрый просмотр";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 10;
    background: var(--background-zinc-40);
    opacity: .4;
    width: 80%;
    height: 40px;
    color: var(--text-color-100);
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-info .card-price{
    font-size: var(--font-size-21);
    font-weight: 700;
    margin: 20px 0 10px;
}

.card-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: var(--font-size-16);
}
.card-footer{
    display: none;
}

.card-products{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 10px;
}

.card-products .product{
    border: 1px solid var(--background-blue-80);
    display: flex;
    align-items: center;
    justify-content: center;

}
.card-products .product img{
    width: 35px;
}
.card-btn{
    margin: 30px 0 10px;
    padding: 10px 20px;
    font-size: var(--font-size-16);
    background: var(--background-blue-80);
    color: var(--background-zinc-10);
    border-radius: 5px;
    width: 100%;
}


.cards-stock-images{
    margin: 40px 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cards-stock-images div img{
    width: 100%;
}


.promotion{
    background: var(--background-zinc-10);
    padding: 50px 0;
}

.promotion-header, 
.blog-header{
    display: flex;
    gap: 35px;
    align-items: center;

}
.promotion-header a, 
.blog-header a{
    font-size: var(--font-size-18);
    padding: 20px 0;
    position: relative;
}

.promotion-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.promotion-grid .promo-card img{
    width: 100%;
    object-fit: contain;
}

.promo-card{
    background: #fff;
    cursor: pointer;
    transition: all .3s ease;

}

.promo-card:hover{
    box-shadow: 0 -2px 18px 5px rgba(0, 0, 0, .2);
}

.promo-card div{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.promo-card div span:nth-of-type(2) {
    font-size: var(--font-size-16);
    padding: 20px 0;
}


.blog{
    padding: 50px 0;
}